:root{
    --font-montserrat: 'Montserrat', sans-serif;
    --font-gothic: 'Pathway Gothic One', sans-serif;
    --font-roboto-condensed: 'Roboto Condensed', sans-serif;
    --red: #b60e1d;
    --white: #ffffff;
    --gray: #2a2a2e;
    --black: #000000;
    --shadow: rgb(44, 44, 44);
    --var-height: 0px;
    --var-width: 0px;
}
/*GENERALES*/
*{
    margin:0px;
    padding: 0px;
    /*Font: Raleway*/
    font-family: Roboto,'Raleway', sans-serif;
}
body{
    /*font-family: noto;*/
    font-size: 20px;
    /* background-image: url('../img/blackBaground.jpg'); */
    /* background-attachment: fixed; */
}

/*Main*/
main{
    display: flex;
    flex-direction: column;    
}
/*Titulos h2*/
h2{
    font-size: 60px;
    padding-bottom: 10px;
    font-family: 'Noto Serif', serif;
}
/*a*/
a{
    text-decoration: none;
    color: white;
}

/*Contenido*/
#contenido{
    margin: 0px auto;
    /* width: 90%; */
    background: transparent;
}
/*CABECERA*/
#menu{
    width: 100%;
    background: transparent;
    position: fixed;
    text-transform: capitalize;
    /*Roboto Slab*/
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}
#menu ul{
    display: flex;
    flex-direction: row;
}
#menu ul li{
    list-style: none;
    line-height: 80px;
}
#menu ul li a{
    display: block;
    height: inherit;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: white; 
}
#menu a:hover{
    background: rgba(153, 153, 102,0.3);
    color: #1a1a1a;	
    transform: scale(1.2);
    font-weight: bolder;
}
section{
    margin: 0px auto; 
    background: white;   
}
/*Edit*/
.login{
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
}
.login h2{
    text-align: center;
    font-size: 75px;
}
.login form{
    display: flex;
    flex-direction: column;    
}
.login label,input{
   margin: 10px;
   padding: 10px;
}


/*Intro*/
#intro {
    width: var(--var-width);
    height: var(--var-height);
}

.Intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*Font: Raleway*/
    font-family: 'Raleway', sans-serif;
    min-height: 580px;
    background-image: url("../img/screen.jpg") ;
    background-repeat: no-repeat;
}
.Intro h3{
    padding-right: 20px;
    width: 100%;
}
.Intro h6{
    font-size: 28px;
    width: 90%;
    text-align: end;
    color:white;   
}
.Intro a{
    font-family: var(--font-gothic);
    color: var(--red);
    padding: 10px;
    font-size: 60px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.Intro p{
    font-size: 38px;
    padding-right: 20px;
    color:white;
    font-weight: bolder;
    width: 100%;
}

/*AboutMe*/
#aboutMe  {
    width: var(--var-width);
    height: var(--var-height);
}

.AboutMe{
    width: 100%;
    justify-content: space-around;
    min-height: 510px;
    background: var(--gray);
}
.AboutMe h3 a{
    text-align: justify;
    color: var(--gray);
}
.AboutMe p{
    text-align: justify;
    color: var(--white);
}
.infoAboutMe{
    align-items: center;
    padding: 20px;
    background-color: var(--red);
    height: var(--var-height);
}
.infoAboutMe img{
    padding: 5px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.skill{
    padding: 10px;
    background-color: var(--gray);
}
.skill h2{
    text-align: center;
}
.skill h3 a{
    text-align: center;
    color: var(--white);
}
.skill h3{
    text-align: center;
    color: var(--red);
}
.skill li{
    list-style: none;   
    padding-left: 20px;
    color: var(--white);
}


/*Projects*/
#project {
    width: var(--var-width);
    height: var(--var-height);
}

.Project{
    background: var(--white);
    /* min-height: 550px; */
    /* align-items: center;
    justify-content: center; */
    /* margin: 0px auto;  */
}
.Project h3 a{
    color: var(--gray);
}
.Project a{
    color:rgba(153, 153, 102, 0.3);
    text-align: center;
}
.Project ul{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 50px;
    justify-content: center;
}
.Project ul li{
    list-style: none; 
    margin: 0px auto;
}
/* .carousel-item img{
    height: 500px;
} */
/* .Project h3{
    color: black;
}
.Project p{
    color: gray;
} */


/*ContactMe*/
#contact {
    width: var(--var-width);
    height: var(--var-height);
}

.Contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: var(--gray);
}
.Contact h2{
    padding-top: 0px;    
    padding-bottom: 25px; 
}
.Contact ul{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding-bottom: 10px;
}
.Contact ul img{    
    height: 150px;
    width: 150px;
}
.Contact ul li{
    text-align: center;
    font-size: 25px;
    margin: 0px auto;
    text-decoration: none;
    list-style: none;
}



/*Footer*/
footer{
    font-size: 25px;
    text-align: center;
    color: #dedede;
    padding: 10px;
    margin: 0px auto;
    width: 88.5%;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(100, 100, 100, 0.8));
}


/*Resposive*/
@media(max-width: 1200px){
    /*Projects*/
    .Project ul{
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: 300px 300px;
        grid-column-gap: 20px;
        justify-content: center;
    }
    .Project ul li a{
        margin:0px auto;
        text-align: center;
    }
}
@media(max-width: 740px){
    /*AboutMe*/
    .AboutMe{
        display: flex;
        flex-direction: column;
    }
    .infoAboutMe{
        width: 100%;
    }
    .skill{
        padding: 10px;
        width: 100%;
    }
    
    /*Projects*/
    #project {
        width: var(--var-width);
        height: var(--var-height);
    }

    .Project ul{
        display: grid;
        grid-template-columns: 150px;
        grid-template-rows: 300px 300px 300px;
        grid-column-gap: 20px;
        justify-content: center;
    }
    .Project ul li a{
        margin:0px auto;
        text-align: center;
    }
    
    /*ContactMe*/
    #contact {
        width: var(--var-width);
        height: var(--var-height);
    }

    .Contact{
         min-height: auto;
    }
    .Contact ul{
        display: grid;
        grid-template-columns: 190px 190px;
        grid-template-rows: 200px 200px;
        justify-content: center;
    }
}

.carousel-caption.transparent {
    background-color: rgba(60, 60, 60, 0.4);
}

/* Scroll */

::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: black; /* Color de fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: gray; /* Color de la barra de desplazamiento */
}